body{
    margin:auto;
    width:70%;

}

.black{
    background-color: grey;
}

.white{
    background-color: white;
}

table,tr{
    width:70%;
    height:80%;
    border-collapse:collapse;
    margin:50px 50px;
}

tr,td{
    height:10%;
   
}

span{
    font-size:60px;
    margin:25%;
    margin-right: 25%;
    cursor:pointer;
}
a{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Aclonica';
    padding-top: 20px;
    animation: example 10s infinite;
  cursor: pointer;  
  animation-play-state: running;
  text-decoration: none;
}

@keyframes example {
  0%   {color: red;}
  25%  {color: tomato;}
  50%  {color: blue;}
  100% {color: peru;}
}